@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for a sleek look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #262626;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #9E7FFF;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #f472b6;
}

html {
  scroll-behavior: smooth;
}
